<div class="w-full flex flex-col">
  <app-control-panel
    [carsList$]="carsList$"
    (onStartEngines)="onStartEngines($event)"
  ></app-control-panel>
  <ul class="flex flex-col gap-10 border-b-4 border-indigo-500">
    <li>
      <app-garage-car
        (removedCarId)="onRemoveCar($event)"
        *ngFor="let car of carsList$ | async"
        [car]="car"
      ></app-garage-car>
    </li>
  </ul>
  <app-pagination
    [totalItems]="carsList$.value.length"
    (pageChanged)="onChangePage($event)"
  ></app-pagination>
</div>
