<header
  class="mx-auto flex min-h-14 w-4/5 max-w-screen-xl items-center justify-between rounded-md bg-transparent bg-white [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px] lg:px-8 lg:pb-0"
>
  <mat-toolbar layout="row" color="accent" class="flex items-center">
    <button mat-button (click)="onHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button (click)="openDialog()">
      <mat-icon>person</mat-icon>
      <span id="create-text"> About Me </span>
    </button>
  </mat-toolbar>
</header>
