<div class="flex justify-between">
  <div class="w-1/6 flex">
    <app-button color="secondary" type="flat" size="large">Race</app-button>
    <app-button color="secondary" type="flat" size="large"> Reset </app-button>
  </div>
  <div class="w-1/6 flex">
    <input type="text" class="w-1/2" placeholder="Enter car name" />
    <app-button color="secondary" type="flat" size="large"> COLOR </app-button>
    <app-button color="secondary" type="flat" size="large"> Create </app-button>
  </div>
  <div class="w-1/6 flex">
    <input type="text" class="w-1/2" placeholder="Enter car name" />
    <app-button color="secondary" type="flat" size="large"> COLOR </app-button>
    <app-button color="secondary" type="flat" size="large"> Update </app-button>
  </div>
  <div class="w-1/6 flex">
    <app-button color="secondary" type="flat" size="large">
      Generate cars
    </app-button>
  </div>
</div>
